* {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  background-color: #ddebf8;
  color: #2b2839;
  border: 5px solid #d8cefe;
  margin: 0 auto;
  width: 500px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.dotted-blue {
  border: 1px dotted blue;
}

.pauljsd-image {
  width: 150px;
}

.card-naration {
  text-align: center;
}

/* mobile responsiveness */

@media screen and (max-width: 580px) {
  .pauljsd-image {
    width: 130px;
  }
}

@media screen and (max-width: 580px) {
  .card {
    width: 350px;
    padding: 0;
  }
}

@media screen and (max-width: 580px) {
  .card-naration h3 {
    font-size: 15px;
  }
}
